#form-register {
    position: relative;
    top: 250px;
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

#form-register button {
    width: 50%;
}

small {
    font-size: 14px !important;
}

.hover-link:hover {
    color: gray;
    cursor: pointer;
}